.navbar {
  background: #f5f5f5;
  margin: 0;
  border: 0;
}

#header {
  font-size: 30px;
}

#main_panel {
  height: 70vh;
}

.chart {
  margin: 20px 0px;
  height: 300px;
  width: 100%;
}

.attraction {
  margin: 15px;
  text-align: left;
}

.down {
  width: 100%;
}

li:hover {
  cursor: pointer;
}

.data_class {
  font-size: 15px;
}

.awesome-marker-icon-transparent {
  background: none !important;
}

#display {
  margin: 15px 0px;
  display: none;
}

#table_panel {
  overflow-x: auto;
}

#submit_data {
  margin-bottom: 10px;
}
