@media only screen and (max-width: 768px) {
  #fileUpload {
    margin-top: 10px;
  }
}

.navbar {
  border-radius: 0px !important;
}

.container {
  margin-top: 20px;
}

#header {
  font-size: 30px;
}

#main_panel {
  height: 60vh;
}

.chart {
  margin: 20px 0px;
  padding: 0px;
  height: 300px;
}

.attraction {
  margin: 15px;
  text-align: left;
}

.down {
  width: 100%;
}

li:hover {
  cursor: pointer;
}

.data_class {
  font-size: 15px;
}

.awesome-marker-icon-transparent {
  background: none !important;
}

#display {
  margin: 15px 0px 0px 0px;
  display: none;
}

#table_panel {
  overflow-x: auto;
}

#submit_data {
  margin-bottom: 10px;
}

.table {
  white-space: nowrap;
}

.table-responsive {
  min-height: auto;
  max-height: 300px;
  overflow: scroll;
}

thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
}

#displayMaps {
  text-transform: capitalize;
}

#optionData {
  text-transform: capitalize;
}
